body {
    margin: 0;
  }
  hr{
    width: 30%;
  }
  .header {
    background-color:burlywood;
    padding: 20px;
    text-align: center;
  }
  .email{
    font-size: 25px;
    text-align: center;
  }
  .senha{
    font-size: 25px;
    text-align: center;
  }
  .data{
    font-size: 25px;
    text-align: center;
  }
  .messi{
    font-size: 25px;
    text-align: center;
  }
  .program{
    font-size: 25px;
    text-align: center;
  }
  .texto{
    font-size: 25px;
    text-align: center;
  }
  .butao{
    font-size: 20px;
    background-color:darksalmon;
    border-radius: 20px;
    padding: 14px;
    box-shadow: 5px 5px ;
  }
  .enviar{
    font-size: 15px;
    background-color: grey;
    border-radius: 15px;
    padding: 12px;
  }
  .limpar{
    font-size: 15px;
    background-color: gray;
    border-radius: 15px;
    padding: 12px;
  }